.formulaire{
    text-align: center;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.form-outline p{
    color: red;
}
h4{
text-align: center;
color: rgb(4, 4, 4);   
font-weight: bold;

}

::placeholder{
    color :black;

}
.form-label{
    color: rgb(13, 4, 62);
    font-weight: bold;
}
